* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
:root {
  --primary-color: #6fbeb2;
  --secondary-color: white;
}
.my-all-componet {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.carousel-item img {
  height: 300px;
  width: 100%;
}
.rating i {
  color: gold;
  margin-left: 3px;
  font-size: 23px;
}
.price {
  color: orange;
  font-size: 32px;
  font-weight: bold;
}
.strike-price {
  color: orange;
  text-decoration: line-through;
  font-size: 25px;
}
.first-one {
  border: 2px solid black;
}
.second-one {
  border: 2px solid black;
  margin-top: 20px;
}
.detail-img img {
  height: 400px;
}

.all-card {
  display: flex;
  flex-direction: column;
  height: auto;
}
.my-card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-container {
  width: 100%;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
